/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}

div.allCards {
     padding: 0 $gutter;
   section {
     border: 1px dotted $greyColor;
     border-radius: 10px;
     overflow: hidden;
     margin: 1rem 0;

     h2, p, img {
        margin: 0;
        padding: 1rem $gutter;
     }

    h2 {
        background-color: $primaryColor; 
        font-size: 1.5rem;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
      img.e2e {
        padding: 0;
      } 
    p {
        font-style: italic;
    }
    a{
        display: block;
        text-align: center;
        padding: .75rem;
        background-color: $accentColor;
        color: #fff;
        text-decoration: none;
        margin: 0 3rem 1rem 3rem;
        border-radius: 8px;
    }
   } // end section
} // end all cards

/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
        margin-left: 1.6rem;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
nav { background-color: $primaryColor;}

#myButton::before {
    content: "\2630";}

#myButton {
    background: none;
    border: none;
    color: $greyColor;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
    width: 44px;
    height: 44px;
    font-weight: $lightWeight;
}     

ul.menuLinks {
    display: none;

    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
       
        a {
            display: block;
            padding: .75rem $gutter;
            color: $greyColor;
            text-decoration: none;
        }
       
    }}
 li.active a {
            background-color: $secondaryColor;
        } 
 // end menu links


 ul.open.menuLinks {
    display: block;
 }

 #myButton.open::before {
    content: "x";
 }  









/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
  padding: 0.5rem $gutter;
  color: $greyColor;
  section {
    p{font-size: 1.2rem;
    margin: .5rem;}
    ion-icon {
        font-size: 1.2rem;
        margin-right: .5rem;
        padding-right: 5px;
        color: $greyColor;
    }
  }

  .contact {
    a {
        color: $greyColor;
        text-decoration: none;
    }
  }

.social {
    display: flex;
    justify-content: center;
    a{display: block;
     
font-size: 2rem;
margin: .5rem;
padding: .5rem;}
}

.location {
    font-size: 1.5rem;
}

.legal {
    text-align: center;
}
}// end footer