$primaryColor: #d94854; 
$secondaryColor: #bf0413;
$accentColor: #403a2e;
$greyColor: #bfbab0;

$defaultFont: "DynaPuff", system-ui;
$lightWeight: 400;
$normalWeight: 600;
$leading: 150%;

$gutter: 10px;